* {
   box-sizing: border-box;
   font-family: 'fira sans', sans-serif;
   padding: 0;
   margin: 0;
}

:root{
   --primary: red;
   --dark: #1f2937;
   --light: #ccc;
}

body{
   height: 100vh;
}

/*  ------------------ MODAL ----------------- */

/* modal background */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

/* Modal Content */
.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 2px solid #888;
   width: 60%;
 }
/* The Close Button */
.close_modal {
   color: #aaaaaa;
   float: right;
   margin-bottom: 20px;
 
 }
 
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*  modal nav */
.nav_container {
   /* max-width: 750px; */
   margin: 0 auto;

   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.nav_container a{
   color:#000;
   margin: 0 100px;
}

/* ------------------ */
[data-tab-content]{
   display: none;
}
.active[data-tab-content]{
  display: block;
}

.tabs {
   display: flex;
   justify-content: space-around;
   list-style: none;
   margin: 0;
   padding: 0;
   border-bottom: 1px solid black;
}
.tab{
   cursor: pointer;
   padding: 10px;
}
.tab.active{
   background-color: #ccc;
}
.tab:hover{
   background-color: #aaa;
}
/* ------------------- */


.settings{
  background-color: #ccc;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.open{
   color: var(--primary);
   float: left;
   margin: 30px;
   padding: 5px;
   font-size: 20px;
}

.pomo{
   height: 100%;
   /* width: 500px; */
   background-color: antiquewhite;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.progress__bar{
   background-color: #000;
   height: 1px;
   width: 600px;
}

.controls__top, .controls__bot{
   width: 300px;
   padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.pomo__clock{
   font-size: 100px;
}

